li {
  padding-bottom: 10px;
}

.App-header {
  background-color: #202020;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffcc5f;
}

.App-link {
  color: #ffcc5f;
  font-size: large;
}

.App-link:hover {
  color: #1714f1;
}

.Navbar {
  background-color: #3f3f3f !important;
}

.App {
  background-color: #ffffff;
  min-height: 100rem;
}

.primary-text {
  color: black;
}

.warning-text {
  color: yellow;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}

.container {
  padding-top: 10px;
  border-radius: 10px;
}

.with-border {
  border-color: grey;
  border-style: solid;
  border-width: thin;
  box-shadow: 5px 10px #888888;
}

.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before,
.s-alert-close::after {
  width: 2px;
}
